<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Paciente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
      <!-- Barra de navegacion -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../">Veterinaria El Pilar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../admin/">Administadores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN de Barra de navegacion -->

    <div class="container mt-5">
        <div class="alert alert-dark display-1 text-center">Formulario Paciente</div>

        <form method="post">
            <table class="table">
            {{ form.as_table}}
            </table>
            {% csrf_token %}
            <tr>
                <td colspan="2">
                    <a href="../" class="btn btn-warning">Inicio</a>
                    <a href="../listadoPaciente" class="btn btn-info float-center ">Ver Pacientes</a>
                    <input type="submit" value="Guardar" class="btn btn-success float-end">
                </td>
            </tr>
        </form>

    </div>



</body>
</html>