<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de pacientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../">Veterinaria El Pilar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../admin/">Administadores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN de Barra de navegacion -->
    <!-- LISTADO DE PACIENTES -->

    {% block js %}

    <script>
        function eliminarPacienteJS(id) {
            Swal.fire({
                "title": "¿Estas Seguro?",
                "text": "Esta accion no se podrá deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Eliminar",
                "confirmButtonColor": "#dc3545"
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "/eliminarPaciente/" + id
                    }

                })
        }
    </script>

    {% endblock %}



    <div class="container-fluid mt-5">
        <div class="alert alert-dark display-1 text-center">LISTADO DE PACIENTES</div>

        {% if proyectos %}
        <div class="table-responsive"> 
            <table class="table table-striped table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Nombre Propietario</th>
                        <th>Apellido Propietario</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Nombre Paciente</th>
                        <th>Raza</th>
                        <th>Especie</th>
                        <th>Sexo</th>
                        <th>Peso KG</th>
                        <th>Fecha Nacimiento</th>
                        <th>Color</th>
                        <th>Tipo pelaje</th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                    <tr>
                        <td>{{proyecto.id }}</td>
                        <td>{{proyecto.nombre_propietario }}</td>
                        <td>{{proyecto.apellido_propietario }}</td>
                        <td>{{proyecto.email }}</td>
                        <td>{{proyecto.direccion }}</td>
                        <td>{{proyecto.telefono }}</td>
                        <td>{{proyecto.nombre_paciente }}</td>
                        <td>{{proyecto.raza }}</td>
                        <td>{{proyecto.especie }}</td>
                        <td>{{proyecto.sexo }}</td>
                        <td>{{proyecto.peso }}</td>
                        <td>{{proyecto.fecha_nacimiento }}</td>
                        <td>{{proyecto.color }}</td>
                        <td>{{proyecto.tipo_pelaje }}</td>

                        <td><a href="/actualizarPaciente/{{ proyecto.id }}" class="btn btn-success btn-sm"><i
                                    class="bi bi-pencil"></i></td>
                        <td><a href="#" onclick="eliminarPacienteJS({{proyecto.id}})" class="btn btn-danger btn-sm"><i
                                    class="bi bi-trash-fill"></i></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning text-center" role="alert">
            <strong>No se encuentran Pacientes Registrados</strong>
        </div>
        {% endif %}
    </div>

    <div class="container text-center">
        <a href="../" class="btn btn-warning m-3">Inicio</a>
        <a href="../agregarPaciente" class="btn btn-success float-center m-3">Agregar Pacientes</a>
    </div>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script> <!-- Script para traer el SweetAlert2 -->

    {% if messages %}
    {%for m in messages%}
    <script>
        Swal.fire({
            "title": "Cambios realizados",
            "text": "{{m}}",
            "icon": "success"
        })
    </script>
    {% endfor %}
    {% endif %}
</body>

</html>