<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <title>Veterinaria</title>
</head>

<body>
    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../">Veterinaria El Pilar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../admin/">Administadores</a>
                    </li>
                </ul>
                <!--  <span class="navbar-text">
                    Navbar text with an inline element
                </span> -->
            </div>
        </div>
    </nav>
    <!-- FIN de Barra de navegacion -->

    <!-- TITULO DE LA PAGINA -->
    <div class="alert alert-dark display-1 text-center" role="alert">
        Veterinaria El Pilar
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Tu confiable Veterinaria El Pilar cuida de tus Perros y Gatos a solo unos metros de distancia.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Esta pagina web es para el registro y visualizacion de los animales en la veterinaria. Por lo tanto, es de uso exclusivo para el  <cite title="Source Title"> PERSONAL DE LA VETERINARIA</cite>
        </figcaption>
    </figure>
    <!-- FIN DE TITULO DE LA PAGINA -->
    <div class="container text-center mt-5">
        <blockquote class="blockquote">
            <p>Escoge una de las dos opciones.</p>
        </blockquote>
        <a href="../listadoPaciente" class="btn btn-info float-center m-3 ">Ver Pacientes</a>
        <a href="../agregarPaciente" class="btn btn-success float-center m-3">Agregar Pacientes</a> 
    </div>



</body>

</html>